/Results_REGIONAL_20150916
/Results_REGIONAL_20150917
/Results_REGIONAL_20150922_git1496
/Results_REGIONAL_20150929_git1497
/Results_REGIONAL_20151001_git1500
/Results_REGIONAL_20151006.git1500
/Results_REGION_20150929_git1497
/Results_TESTCASES_20150917
/Results_TESTCASES_20150928_git
/Results_TEST_CASES_20150928_git
/Results_VORTEX_20151009.git1512
/jobcomp_mpi_REGIONAL_2W.log
/jobcomp_mpi_REGIONAL_OFF.log
/jobcomp_mpi_SOLITON.log
/jobcomp_openmp_REGIONAL_2W.log
/jobcomp_openmp_REGIONAL_OFF.log
/jobcomp_openmp_SOLITON.log
/jobcomp_serial_REGIONAL_2W.log
/jobcomp_serial_REGIONAL_OFF.log
/jobcomp_serial_SOLITON.log
/mpi1X2_REGIONAL_2W.log
/mpi1X2_REGIONAL_OFF.log
/mpi1X2_SOLITON.log
/mpi2X1_REGIONAL_2W.log
